[Desktop Entry]
Encoding=UTF-8
Name=TIMECoin
Comment=TIMECoin P2P Cryptocurrency
Comment[fr]=TIMECoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=TIMECoin, eşten eşe kriptografik sanal para birimi
Exec=time-qt %u
Terminal=false
Type=Application
Icon=time128
MimeType=x-scheme-handler/time;
Categories=Office;Finance;
